
<div class="row">
	<div class="span12">
		<div class="box">
			<h1>Board</h1>
		</div>
	</div>
</div>


<div class="row">
	<div class="span12">
		<div class="ressources">
		    <%= render :partial => 'ressource', :collection => @ressources %>
		</div>		
	</div>	
</div>



 









